
.hero-banner {
    height: 758px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}
.container {
    height: 758px;
    max-width: 980px;
    margin: 0 auto;
    
}
/*good for small jobs*/

@media screen and (max-width:767px) {
    .bg-runner {
        background-image: url("../images/hero-banner1.png");
    }
}

@media screen and (min-width:768px) {
    .bg-runner {
        background-image: url("../images/hero-banner2.png");
    
    }
    
}
@media screen and (min-width:1025px) {
    .bg-runner {
        background-image: url("../images/hero-banner3.png");
    }
    
}